@(url: String)
<?xml version="1.0" encoding="UTF-8"?>
<QuestionForm xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionForm.xsd">
  <Overview>
    <Title>Rate the Quality of this StackOverflow Question</Title>
    <Text>Thank you for helping us out with our subjective analysis of StackOverflow.com questions.</Text>
    <Text>Please become familiar with the question at the following URL before answering the questions below.</Text>
    <Text>@url</Text>
  </Overview>
  <Question>
    <QuestionIdentifier>author</QuestionIdentifier>
    <QuestionContent>
      <Text>Who posted the question?</Text>
    </QuestionContent>
    <AnswerSpecification>
      <FreeTextAnswer>
      	<NumberOfLinesSuggestion>1</NumberOfLinesSuggestion>
      </FreeTextAnswer>
    </AnswerSpecification>
  </Question>
  <Question>
    <QuestionIdentifier>acceptedAnswer</QuestionIdentifier>
    <QuestionContent>
      <Text>Does this question have an accepted answer (indicated by a green checkmark next to the answer)?</Text>
    </QuestionContent>
    <AnswerSpecification>
      <SelectionAnswer>
        <StyleSuggestion>radiobutton</StyleSuggestion>
        <Selections>
          <Selection>
            <SelectionIdentifier>Yes</SelectionIdentifier>
            <Text>Yes</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>No</SelectionIdentifier>
            <Text>No</Text>
          </Selection>
        </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>
  <Question>
    <QuestionIdentifier>numberQuestions</QuestionIdentifier>
    <QuestionContent>
      <Text>How many questions does the poster ask in the original posting?</Text>
    </QuestionContent>
    <AnswerSpecification>
      <FreeTextAnswer>
        <NumberOfLinesSuggestion>1</NumberOfLinesSuggestion>
      </FreeTextAnswer>
    </AnswerSpecification>
  </Question>
  <Question>
    <QuestionIdentifier>howWellHowOrWhy</QuestionIdentifier>
    <QuestionContent>
      <Text>Please rate how well the poster explains how or why the problem was initially encountered:</Text>
    </QuestionContent>
    <AnswerSpecification>
      <SelectionAnswer>
        <StyleSuggestion>radiobutton</StyleSuggestion>
        <Selections>
          <Selection>
            <SelectionIdentifier>1</SelectionIdentifier>
            <Text>1 - Not at all</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>2</SelectionIdentifier>
            <Text>2</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>3</SelectionIdentifier>
            <Text>3</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>4</SelectionIdentifier>
            <Text>4</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>5</SelectionIdentifier>
            <Text>5</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>6</SelectionIdentifier>
            <Text>6</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>7</SelectionIdentifier>
            <Text>7 - The best description</Text>
          </Selection>
        </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>
  <Question>
    <QuestionIdentifier>howMuchEffortIntoSolving</QuestionIdentifier>
    <QuestionContent>
      <Text>Please rate how much effort you believe was put into solving the problem prior to posting the question:</Text>
    </QuestionContent>
    <AnswerSpecification>
      <SelectionAnswer>
        <StyleSuggestion>radiobutton</StyleSuggestion>
        <Selections>
          <Selection>
            <SelectionIdentifier>1</SelectionIdentifier>
            <Text>1 - None at all</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>2</SelectionIdentifier>
            <Text>2</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>3</SelectionIdentifier>
            <Text>3</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>4</SelectionIdentifier>
            <Text>4</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>5</SelectionIdentifier>
            <Text>5</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>6</SelectionIdentifier>
            <Text>6</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>7</SelectionIdentifier>
            <Text>7 - As much as seems possible</Text>
          </Selection>
        </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>
  <Question>
    <QuestionIdentifier>typeOfQuestion</QuestionIdentifier>
    <QuestionContent>
      <Text>Which of the following describe the question:</Text>
    </QuestionContent>
    <AnswerSpecification>
      <SelectionAnswer>
        <StyleSuggestion>checkbox</StyleSuggestion>
        <Selections>
          <Selection>
             <SelectionIdentifier>copypaste</SelectionIdentifier>
             <Text>A large chunk of code; asks what is wrong or for any advice</Text>
           </Selection>
           <Selection>
             <SelectionIdentifier>errormsg</SelectionIdentifier>
             <Text>An exception code/error message; asks how to solve the problem</Text>
           </Selection>
           <Selection>
		          <SelectionIdentifier>codequestion</SelectionIdentifier>
			        <Text>A question about a few lines of code</Text>
           </Selection>
           <Selection>
			       <SelectionIdentifier>tips</SelectionIdentifier>
			       <Text>General tips/best-practices</Text>
           </Selection>
            <Selection>
             <SelectionIdentifier>other</SelectionIdentifier>
             <Text>Other</Text>
           </Selection>
        </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>
  <Question>
    <QuestionIdentifier>askerKnowledge</QuestionIdentifier>
    <QuestionContent>
      <Text>Which of the following describe the question:</Text>
    </QuestionContent>
    <AnswerSpecification>
      <SelectionAnswer>
        <StyleSuggestion>checkbox</StyleSuggestion>
        <Selections>
          <Selection>
            <SelectionIdentifier>not</SelectionIdentifier>
            <Text>The poster makes a general request for any type of help solving a problem that he/she does not fully understand.</Text>
          </Selection>
          <Selection>
		    <SelectionIdentifier>questionbackground</SelectionIdentifier>
			<Text>The poster tells a story about how they ran into the issue.</Text>
          </Selection>
          <Selection>
			<SelectionIdentifier>problemstory</SelectionIdentifier>
			<Text>The poster explains what they have already done.</Text>
          </Selection>
        </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>
<Question>
    <QuestionIdentifier>howDirect</QuestionIdentifier>
    <QuestionContent>
      <Text>How direct is the question being asked?</Text>
    </QuestionContent>
    <AnswerSpecification>
      <SelectionAnswer>
        <StyleSuggestion>radiobutton</StyleSuggestion>
        <Selections>
          <Selection>
            <SelectionIdentifier>1</SelectionIdentifier>
            <Text>1 - Not at all direct, for example: “This is wrong.  Why?”</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>2</SelectionIdentifier>
            <Text>2</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>3</SelectionIdentifier>
            <Text>3</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>4</SelectionIdentifier>
            <Text>4</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>5</SelectionIdentifier>
            <Text>5</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>6</SelectionIdentifier>
            <Text>6</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>7</SelectionIdentifier>
            <Text>7 - Very direct</Text>
          </Selection>
        </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>
  <Question>
    <QuestionIdentifier>howKnowledgeable</QuestionIdentifier>
    <QuestionContent>
      <Text>How knowledgeable does the poster seem on this topic?</Text>
    </QuestionContent>
    <AnswerSpecification>
      <SelectionAnswer>
        <StyleSuggestion>radiobutton</StyleSuggestion>
        <Selections>
          <Selection>
            <SelectionIdentifier>1</SelectionIdentifier>
            <Text>1 - Not at all knowledgeable</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>2</SelectionIdentifier>
            <Text>2</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>3</SelectionIdentifier>
            <Text>3</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>4</SelectionIdentifier>
            <Text>4</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>5</SelectionIdentifier>
            <Text>5</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>6</SelectionIdentifier>
            <Text>6</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>7</SelectionIdentifier>
            <Text>7 - An expert</Text>
          </Selection>
        </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>
  <Question>
    <QuestionIdentifier>tone</QuestionIdentifier>
    <QuestionContent>
      <Text>Please list at least 3 comma-separated words to describe the tone of the question:</Text>
    </QuestionContent>
    <AnswerSpecification>
      <FreeTextAnswer>
        <NumberOfLinesSuggestion>1</NumberOfLinesSuggestion>
      </FreeTextAnswer>
    </AnswerSpecification>
  </Question>
  <Question>
    <QuestionIdentifier>howImprove</QuestionIdentifier>
    <QuestionContent>
      <Text>How could the poster improve this question?</Text>
    </QuestionContent>
    <AnswerSpecification>
      <FreeTextAnswer>
        <NumberOfLinesSuggestion>3</NumberOfLinesSuggestion>
      </FreeTextAnswer>
    </AnswerSpecification>
  </Question>
<Question>
    <QuestionIdentifier>technicalbackground</QuestionIdentifier>
    <QuestionContent>
      <Text>Please describe your proficiency as a programmer?</Text>
    </QuestionContent>
    <AnswerSpecification>
      <SelectionAnswer>
        <StyleSuggestion>radiobutton</StyleSuggestion>
        <Selections>
          <Selection>
            <SelectionIdentifier>1</SelectionIdentifier>
            <Text>1 - Not at all</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>2</SelectionIdentifier>
            <Text>2</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>3</SelectionIdentifier>
            <Text>3</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>4</SelectionIdentifier>
            <Text>4</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>5</SelectionIdentifier>
            <Text>5</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>6</SelectionIdentifier>
            <Text>6</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>7</SelectionIdentifier>
            <Text>7 - Many years of experience</Text>
          </Selection>
        </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>
<Question>
    <QuestionIdentifier>useSO</QuestionIdentifier>
    <QuestionContent>
      <Text>How familiar are you with StackOverflow.com?</Text>
    </QuestionContent>
    <AnswerSpecification>
      <SelectionAnswer>
        <StyleSuggestion>radiobutton</StyleSuggestion>
        <Selections>
          <Selection>
            <SelectionIdentifier>1</SelectionIdentifier>
            <Text>1 - Never heard of it</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>2</SelectionIdentifier>
            <Text>2</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>3</SelectionIdentifier>
            <Text>3</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>4</SelectionIdentifier>
            <Text>4</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>5</SelectionIdentifier>
            <Text>5</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>6</SelectionIdentifier>
            <Text>6</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>7</SelectionIdentifier>
            <Text>7 - Use it every day</Text>
          </Selection>
        </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>  
  <Question>
        <QuestionIdentifier>howUseSO</QuestionIdentifier>
        <QuestionContent>
          <Text>What do you primarily use StackOverflow for?</Text>
        </QuestionContent>
        <AnswerSpecification>
          <SelectionAnswer>
            <StyleSuggestion>checkbox</StyleSuggestion>
            <Selections>
              <Selection>
                <SelectionIdentifier>search</SelectionIdentifier>
                <Text>Search for questions with problems I'm running into.</Text>
              </Selection>
              <Selection>
                <SelectionIdentifier>answer</SelectionIdentifier>
                <Text>Respond to questions and help the community.</Text>
              </Selection>
              <Selection>
  						  <SelectionIdentifier>question</SelectionIdentifier>
  						  <Text>Ask questions to problems that I encounter on a regular basis.</Text>
              </Selection>
              <Selection>
  						  <SelectionIdentifier>learn</SelectionIdentifier>
  						  <Text>Learn something new.</Text>
              </Selection>
             <Selection>
                <SelectionIdentifier>reputation</SelectionIdentifier>
                <Text>Improve my reputation.</Text>
              </Selection>              
              <Selection>
                <SelectionIdentifier>community</SelectionIdentifier>
                <Text>Help the community.</Text>
              </Selection>
              <Selection>
  						  <SelectionIdentifier>na</SelectionIdentifier>
  						  <Text>I don't use StackOverflow.</Text>
              </Selection>
            </Selections>
          </SelectionAnswer>
        </AnswerSpecification>
  </Question>
</QuestionForm>
