@(url: String)
<?xml version="1.0" encoding="UTF-8"?>
<QuestionForm xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionForm.xsd">
  <Overview>
      <Text>Answer the questions below about the following url: @url</Text>      
  </Overview>
  <Question>
    <QuestionIdentifier>moreThanOneQuestion</QuestionIdentifier>
    <QuestionContent>
      <Text>Does the original poster pose more than one question in the post?</Text>
    </QuestionContent>
    <AnswerSpecification>
      <SelectionAnswer>
        <StyleSuggestion>radiobutton</StyleSuggestion>
        <Selections>
          <Selection>
            <SelectionIdentifier>moreThanOneQuestionYes</SelectionIdentifier>
            <Text>Yes</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>moreThanOneQuestionNo</SelectionIdentifier>
            <Text>No</Text>
          </Selection>
        </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>
  <Question>
    <QuestionIdentifier>whyPblm</QuestionIdentifier>
    <QuestionContent>
      <Text>Does the original poster explain how or why the problem was initially encountered?</Text>
    </QuestionContent>
    <AnswerSpecification>
      <SelectionAnswer>
        <StyleSuggestion>radiobutton</StyleSuggestion>
        <Selections>
          <Selection>
            <SelectionIdentifier>whyPblmYes</SelectionIdentifier>
            <Text>Yes</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>whyPblmNo</SelectionIdentifier>
            <Text>No</Text>
          </Selection>
        </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>
</QuestionForm>
