@(url: String)
<?xml version="1.0" encoding="UTF-8"?>
<QuestionForm xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionForm.xsd">
  <Overview>
    <Title>Rate the Quality of this StackOverflow Question</Title>
    <Text>Thank you for helping us out with our subjective analysis of StackOverflow.com questions.</Text>
    <Text>Please become familiar with the question at the following URL before answering the questions below.</Text>
    <Text>@url</Text>
  </Overview>
  <Question>
    <QuestionIdentifier>author</QuestionIdentifier>
    <QuestionContent>
      <Text>Who posted the question?</Text>
    </QuestionContent>
    <AnswerSpecification>
      <FreeTextAnswer>
      	<NumberOfLinesSuggestion>1</NumberOfLinesSuggestion>
      </FreeTextAnswer>
    </AnswerSpecification>
  </Question>
  <Question>
    <QuestionIdentifier>acceptedAnswer</QuestionIdentifier>
    <QuestionContent>
      <Text>Does this question have an accepted answer (indicated by a green checkmark next to the answer)?</Text>
    </QuestionContent>
    <AnswerSpecification>
      <SelectionAnswer>
        <StyleSuggestion>radiobutton</StyleSuggestion>
        <Selections>
          <Selection>
            <SelectionIdentifier>Yes</SelectionIdentifier>
            <Text>Yes</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>No</SelectionIdentifier>
            <Text>No</Text>
          </Selection>
        </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>
  <Question>
    <QuestionIdentifier>firstImpression</QuestionIdentifier>
    <QuestionContent>
      <Text>Which of these describe your first impression of the question:</Text>
    </QuestionContent>
    <AnswerSpecification>
     <SelectionAnswer>
      <StyleSuggestion>checkbox</StyleSuggestion>
        <Selections>
           <Selection>
			 <SelectionIdentifier>simple</SelectionIdentifier>
             <Text>Seems like a simple question</Text>
           </Selection>
           <Selection>
             <SelectionIdentifier>short</SelectionIdentifier>
             <Text>Very short</Text>
           </Selection>
          <Selection>
             <SelectionIdentifier>tooLong</SelectionIdentifier>
             <Text>Too much text/too long or “cluttered”</Text>
           </Selection>
           <Selection>
		     <SelectionIdentifier>complex</SelectionIdentifier>
             <Text>Very complex</Text>
           </Selection>
           <Selection>
             <SelectionIdentifier>overwhelmed</SelectionIdentifier>
             <Text>I'm overwhelmed</Text>
           </Selection>
            <OtherSelection>
              	<NumberOfLinesSuggestion>1</NumberOfLinesSuggestion>
            </OtherSelection>
        </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>  
  <Question>
    <QuestionIdentifier>questionDescription</QuestionIdentifier>
    <QuestionContent>
      <Text>In 3 words, describe the question the poster is asking.</Text>
    </QuestionContent>
    <AnswerSpecification>
      <FreeTextAnswer>
        <NumberOfLinesSuggestion>1</NumberOfLinesSuggestion>
      </FreeTextAnswer>
    </AnswerSpecification>
  </Question>
  <Question>
    <QuestionIdentifier>numberQuestions</QuestionIdentifier>
    <QuestionContent>
      <Text>How many questions does the poster ask in the original posting?</Text>
    </QuestionContent>
    <AnswerSpecification>
      <FreeTextAnswer>
        <NumberOfLinesSuggestion>1</NumberOfLinesSuggestion>
      </FreeTextAnswer>
    </AnswerSpecification>
  </Question>
  <Question>
    <QuestionIdentifier>typeOfQuestion</QuestionIdentifier>
    <QuestionContent>
      <Text>Which of the following describe the question:</Text>
    </QuestionContent>
    <AnswerSpecification>
      <SelectionAnswer>
        <StyleSuggestion>checkbox</StyleSuggestion>
        <Selections>
          <Selection>
             <SelectionIdentifier>copypaste</SelectionIdentifier>
             <Text>A large chunk of code; asks what is wrong or for any advice</Text>
           </Selection>
           <Selection>
             <SelectionIdentifier>errormsg</SelectionIdentifier>
             <Text>An exception code/error message; asks how to solve the problem</Text>
           </Selection>
           <Selection>
		      <SelectionIdentifier>advice</SelectionIdentifier>
			  <Text>A general request for advice or guidance</Text>
           </Selection>
           <Selection>
		      <SelectionIdentifier>codequestion</SelectionIdentifier>
			  <Text>A question about a few lines of code</Text>
           </Selection>
           <Selection>
			   <SelectionIdentifier>specificQuestion</SelectionIdentifier>
			   <Text>A specific, direct question about an issue being encountered</Text>
           </Selection>
            <OtherSelection>
              	<NumberOfLinesSuggestion>1</NumberOfLinesSuggestion>
            </OtherSelection>
          </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>    
  <Question>
    <QuestionIdentifier>describePriorEffort</QuestionIdentifier>
    <QuestionContent>
      <Text>How does the poster describe their efforts to solve the problem prior to posting on StackOverflow?</Text>
    </QuestionContent>
    <AnswerSpecification>
      <SelectionAnswer>
        <StyleSuggestion>checkbox</StyleSuggestion>
        <Selections>
          <Selection>
             <SelectionIdentifier>tellStory</SelectionIdentifier>
             <Text>Describes what they did which led to the problem (tell a story about how they ran into the issue)</Text>
           </Selection>
           <Selection>
             <SelectionIdentifier>altSolution</SelectionIdentifier>
             <Text>Describes at least one alternate solution they attempted which still didn’t work</Text>
           </Selection>
           <Selection>
		      <SelectionIdentifier>research</SelectionIdentifier>
			  <Text>Describes/links to at least one solution they researched online or from a book</Text>
           </Selection>
            <Selection>
             <SelectionIdentifier>none</SelectionIdentifier>
             <Text>It doesn't seem like they spent much time before posting the question.</Text>
           </Selection>
            <OtherSelection>
              	<NumberOfLinesSuggestion>1</NumberOfLinesSuggestion>
            </OtherSelection>
          </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>     
  <Question>
    <QuestionIdentifier>howMuchEffortIntoSolving</QuestionIdentifier>
    <QuestionContent>
      <Text>Please rate how much effort you believe was put into solving the problem prior to posting the question:</Text>
    </QuestionContent>
    <AnswerSpecification>
      <SelectionAnswer>
        <StyleSuggestion>radiobutton</StyleSuggestion>
        <Selections>
          <Selection>
            <SelectionIdentifier>1</SelectionIdentifier>
            <Text>1 - None at all</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>2</SelectionIdentifier>
            <Text>2</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>3</SelectionIdentifier>
            <Text>3</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>4</SelectionIdentifier>
            <Text>4</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>5</SelectionIdentifier>
            <Text>5</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>6</SelectionIdentifier>
            <Text>6</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>7</SelectionIdentifier>
            <Text>7 - As much as seems possible</Text>
          </Selection>
        </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>
  <Question>
    <QuestionIdentifier>howKnowledgeable</QuestionIdentifier>
    <QuestionContent>
      <Text>How knowledgeable does the poster seem on this topic?</Text>
    </QuestionContent>
    <AnswerSpecification>
      <SelectionAnswer>
        <StyleSuggestion>radiobutton</StyleSuggestion>
        <Selections>
          <Selection>
            <SelectionIdentifier>1</SelectionIdentifier>
            <Text>1 - Not at all knowledgeable</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>2</SelectionIdentifier>
            <Text>2</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>3</SelectionIdentifier>
            <Text>3</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>4</SelectionIdentifier>
            <Text>4</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>5</SelectionIdentifier>
            <Text>5</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>6</SelectionIdentifier>
            <Text>6</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>7</SelectionIdentifier>
            <Text>7 - An expert</Text>
          </Selection>
        </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>
  <Question>
    <QuestionIdentifier>tone</QuestionIdentifier>
    <QuestionContent>
      <Text>Please list at least 3 words to describe the tone of the question:</Text>
    </QuestionContent>
    <AnswerSpecification>
      <FreeTextAnswer>
        <NumberOfLinesSuggestion>1</NumberOfLinesSuggestion>
      </FreeTextAnswer>
    </AnswerSpecification>
  </Question>
  <Question>
    <QuestionIdentifier>howImprove</QuestionIdentifier>
    <QuestionContent>
      <Text>How could the poster improve this question?</Text>
    </QuestionContent>
    <AnswerSpecification>
      <FreeTextAnswer>
        <NumberOfLinesSuggestion>3</NumberOfLinesSuggestion>
      </FreeTextAnswer>
    </AnswerSpecification>
  </Question>
<Question>
    <QuestionIdentifier>technicalbackground</QuestionIdentifier>
    <QuestionContent>
      <Text>Please describe your proficiency as a programmer.</Text>
    </QuestionContent>
    <AnswerSpecification>
      <SelectionAnswer>
        <StyleSuggestion>radiobutton</StyleSuggestion>
        <Selections>
          <Selection>
            <SelectionIdentifier>1</SelectionIdentifier>
            <Text>1 - Not at all</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>2</SelectionIdentifier>
            <Text>2</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>3</SelectionIdentifier>
            <Text>3</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>4</SelectionIdentifier>
            <Text>4</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>5</SelectionIdentifier>
            <Text>5</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>6</SelectionIdentifier>
            <Text>6</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>7</SelectionIdentifier>
            <Text>7 - Many years of experience</Text>
          </Selection>
        </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>
<Question>
    <QuestionIdentifier>useSO</QuestionIdentifier>
    <QuestionContent>
      <Text>How familiar are you with StackOverflow.com?</Text>
    </QuestionContent>
    <AnswerSpecification>
      <SelectionAnswer>
        <StyleSuggestion>radiobutton</StyleSuggestion>
        <Selections>
          <Selection>
            <SelectionIdentifier>1</SelectionIdentifier>
            <Text>1 - Never heard of it</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>2</SelectionIdentifier>
            <Text>2</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>3</SelectionIdentifier>
            <Text>3</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>4</SelectionIdentifier>
            <Text>4</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>5</SelectionIdentifier>
            <Text>5</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>6</SelectionIdentifier>
            <Text>6</Text>
          </Selection>
          <Selection>
            <SelectionIdentifier>7</SelectionIdentifier>
            <Text>7 - Use it every day</Text>
          </Selection>
        </Selections>
      </SelectionAnswer>
    </AnswerSpecification>
  </Question>  
  <Question>
        <QuestionIdentifier>howUseSO</QuestionIdentifier>
        <QuestionContent>
          <Text>What do you primarily use StackOverflow for?</Text>
        </QuestionContent>
        <AnswerSpecification>
          <SelectionAnswer>
            <StyleSuggestion>checkbox</StyleSuggestion>
            <Selections>
              <Selection>
                <SelectionIdentifier>search</SelectionIdentifier>
                <Text>Search for questions with problems I'm running into.</Text>
              </Selection>
              <Selection>
                <SelectionIdentifier>answer</SelectionIdentifier>
                <Text>Respond to questions and help the community.</Text>
              </Selection>
              <Selection>
  						  <SelectionIdentifier>question</SelectionIdentifier>
  						  <Text>Ask questions to problems that I encounter on a regular basis.</Text>
              </Selection>
              <Selection>
  						  <SelectionIdentifier>learn</SelectionIdentifier>
  						  <Text>Learn something new.</Text>
              </Selection>
             <Selection>
                <SelectionIdentifier>reputation</SelectionIdentifier>
                <Text>Improve my reputation.</Text>
              </Selection>              
              <Selection>
                <SelectionIdentifier>community</SelectionIdentifier>
                <Text>Help the community.</Text>
              </Selection>
              <Selection>
  						  <SelectionIdentifier>na</SelectionIdentifier>
  						  <Text>I don't use StackOverflow.</Text>
              </Selection>
            </Selections>
          </SelectionAnswer>
        </AnswerSpecification>
  </Question>
</QuestionForm>
